.header {
  background-color: #013914;
  color: white;
  display: flex;
  justify-content: center;
  position: relative;
  height: 7em;
  z-index: 1;
}

.headerContainer {
  width: 100%;
  max-width: 1024px;
  margin: 20px 0px 100px 0px;
}

.headerContainer.listMode {
  margin: 20px 0px 0px 0px;
}

.headerList {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 50px;
  color: #e66714;
}

.headerListItem {
  display: flex;
  align-items: center;
  gap: 10px;
}

.headerListItem.active {
  border: 1px solid white;
  padding: 10px;
  border-radius: 20px;
}

.search {
  background-color: white;
  border: 3px solid #febb02;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 0px;
  border-radius: 5px;
  position: absolute;
  bottom: -25px;
  width: 100%;
  max-width: 1024px;
  overflow: hidden;

  .searchInput {
    display: flex;
    align-items: center;
    gap: 10px;
    img {
      width: 20px;
      height: 20px;
      margin: 10px;
    }

    input {
      border: none;
      outline: none;

      &::placeholder {
        color: gray;
      }
    }
  }

  button {
    width: 10%;
    height: 50px;
    border: none;
    background-color: #e66714;
    color: white;
    align-self: flex-end;
    cursor: pointer;
  }
}
